*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/sfondo.png)
}

/* utility class */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.fl {
  float: left;
}

p{
  line-height: 1.6;
}
/* end utility class */

.container{
  width: 1200px;
}

/* testata */

header{
  background-image: url(../img/testata.png);
  border: 10px solid white;
  height: 400px;
  position: relative;
}

.icona-natural{
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    position: absolute;
}

img{
  height: 250px;
}

h1{
  text-align: center;
  color: white;
}

/* /testata */

/* menú navigazione */

.navbar{
  width: 1200px;
  height: 40px;
  text-align: center;
  background-color: #331900;
  line-height: 40px;
  margin-bottom: 10px;
}

nav > ul{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  display: block;
}

 ul.navlist > li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

ul.navlist > li a{
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

ul.navlist > li a:hover{
  background-color: #251516;
}

/* /menú navigazione */

.container {
  width: 1200px;
  margin: 0 auto;
}

main {

}

.colonna-1 {
  width: 25%;
  height: 400px;
  background: white;
  border-radius: 10%;
}
/* contenuto sidebar 1 */

.titolo-sidebar-1{
  width: 300px;
  color: #331900;
  font-size: 30px;
  text-align: center;

}

span.immagine{
  background-image: url(../img/icona.png);
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: 30px;
  left: 65px;
}

div.colonna-1 > ul{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  display: block;
}

 div.colonna-1 > ul > li{
  display: inline-block;
  padding: 15px;
}

div.colonna-1 > ul > li a{
  display: block;
  color: green;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
/* /contenuto sidebar 1 */

 .colonna-2{
  width: calc(50% - 30px);
  background: white;
  margin: 0 15px;
  padding: 20px;
  border-radius: 10%;
}
/* contenuto sidebar 2 */
.titolo-sidebar{
  color: #331900;
  font-size: 30px;
  margin: 20px;
}
/* /contenuto sidebar 2 */
.colonna-3 {
  width: 25%;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10%;
}

.box:first-child {
  margin-bottom: 15px;
}

footer {
  margin-top: 15px;
  background: white;
  margin-bottom: 15px;
  border-radius: 10%;
  text-align: center;
  line-height: normal;

}
